<ion-header class="ion-no-border">
  <ion-toolbar>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <div class=" content-container">
    <h5>Auto Play Slider</h5>


      <ion-row>
        <ion-col size="12">
  
          <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
            (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
            <ion-slide *ngFor="let s of sliderOne.slidesItems">
              <img src="https://i.pinimg.com/originals/6f/24/8f/6f248fe1aa6b2fe28cd18f04f5d681c3.jpg">
             
            </ion-slide>
          </ion-slides>
  
        </ion-col>
  
      </ion-row>
  
    </div>
   
</ion-content>
