:host{
  height: 100%;
  background: -moz-linear-gradient(45deg, rgb(123, 15, 15) 0%, rgba(171, 21, 21, 0.8) 100%);
  background: -webkit-linear-gradient(45deg, rgb(130, 22, 22) 0%, rgba(174, 18, 18, 0.8) 100%);
  background: linear-gradient(45deg, rgb(136, 8, 8) 0%, rgba(171, 16, 16, 0.8) 100%);
}

ion-content{
  --background: transparent;
  transform: translate3d(0,150px,0);

  transition: 0.3s;  
}
ion-toolbar{
  --background: transparent;
}

.content-container{
  background-color: #ffffff;
  height: 100%;
  border-radius: 20px;
  overflow: scroll;
  padding-bottom: 200px;
}

.no-transform{
  transform: translate3d(0,0,0) !important;
}