:host{
  height: 100%;
  background: rgb(143,1,1);
  background: linear-gradient(315deg, rgba(143,1,1,1) 17%, rgba(255,0,0,1) 51%, rgba(97,2,2,1) 95%);
}

ion-content{
  --background: transparent;
  //transform: translate3d(0,150px,0);

  //transition: 0.3s;  
}
ion-toolbar{
  --background: transparent;
}

.content-container{
  //background-color: #ffffff;
  height: 100%;
  border-radius: 20px;
  overflow: scroll;

}

.no-transform{
  transform: translate3d(0,0,0) !important;
}